.parent {
    background-color: #adc4ee;
    min-height: 13vh;
    .icon {

        display: inline-block;
        position: absolute;
        right: 24%;
        padding:5px;
    }
    .content{
        padding:9px;
    }
}