<!-- navbar.component.html -->
<mat-toolbar color="primary">
    <mat-icon  *ngIf="isLoggedIn" class="side-menu" (click)="openSideMenu()">menu</mat-icon>
    <span routerLink="/auth">Hi @ravind!!</span>
    <span class="spacer"></span>
    <button mat-button *ngIf="!isLoggedIn" [routerLink]="['/auth','login']">Login</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/services">Services</button>
    <button mat-button routerLink="/contact">Contact</button>
  </mat-toolbar>
  