<div class="dashboard">
    <div class="description">
        <h2> My DashBoard (Current Month)</h2>
    </div>
    <div class="selectWidget">
        <div class="heading">Select a widget to add</div>
        <div class="dropdown">
            <mat-form-field>
                <mat-select placeholder="select a widget" [(value)]="selectedWidget">
                    <mat-option *ngFor="let widget of widgets" [value]="widget.name">
                        {{widget.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="content">
        <div>My Widgets</div>
        <ng-container #container>
        </ng-container>
        
    </div>
</div>