.dashboard {
    padding: 12px;

    .description {
        display: flex;
        justify-content: center;
    }

    .selectWidget {
        padding: 3px;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .content {
        width: 77%;
        height: auto;
        border: 1px solid black;
    }
}